<div *ngIf="!registered" class="app-welcome-container">
  <h2>Register</h2>
  <div class="info-text">
    This Application does not save any personal identification. Just a unique
    combination of username and password.<br />
    However, The owner of the application must approve you. Please choose a
    username he will recognize.
  </div>
  <div *ngIf="errorMessage" class="app-welcome-error-message">
    {{ errorMessage }}
  </div>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <div class="button-block">
      <button class="white-button" type="button" (click)="goBack()">
        Back
      </button>
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </div>
  </form>
</div>
<div *ngIf="registered" class="app-welcome-container">
  <h2>Registration Successful</h2>
  <div class="info-text">
    Please wait for the owner to approve your account.
  </div>
  <div class="button-block">
    <div></div>
    <button type="button" (click)="goBack()">To Login</button>
  </div>
</div>
