<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">Trailmenu</a>
  </div>
  <div class="navbar-buttons">
    <div class="avatar-container" (click)="toggleDropdown()">
      <img src="assets/avatar.jpg" alt="Avatar" class="avatar" />
      @if(dropdownOpen){
      <div class="dropdown-menu">
        <a routerLink="/profile">Profile</a>
        @if(dropdownOpen){
        <a routerLink="/admin">Admin Area</a>
        }
        <a (click)="onLogout()">Logout</a>
      </div>
      }
    </div>
  </div>
</nav>
