.users-container {
  margin: 20px auto;
  width: 80%;
}

.loading {
  text-align: center;
  color: var(--primary-color);
}

.error {
  text-align: center;
  color: var(--error-color);
}

table {
  border-collapse: collapse;
  border-radius: 6px;
  width: 100%;
}

th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

th:last-child,
td:last-child {
  text-align: right;
}

th {
  background-color: var(--primary-bg);
  border-bottom: solid 1px var(--accent-line);
  position: relative;
}

tr:nth-child(even) {
  background-color: var(--secondary-bg);
}

tr:nth-child(even):hover {
  background-color: var(--secondary-bg-hover);
}

tr:nth-child(odd):hover {
  background-color: var(--secondary-bg-hover);
}

.role-badge {
  background-color: var(--accent-color);
  color: var(--primary-bg);
  border: none;
  border-radius: 8px;
  padding: 2px 4px;

  font-size: 0.9em;
}

.role-badge:hover {
  background-color: var(--accent-color-hover);
}

.role-dropdown-container {
  display: inline-block;
  position: relative;
}

.role-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-left: 2px;
  min-width: 80px;
  background: var(--secondary-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  border: solid 1px var(--accent-line);
  border-radius: 5px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 0;
}
