<div class="app-welcome-container">
  <h2>Login</h2>
  @if(errorMessage){
  <div class="app-welcome-error-message">
    {{ errorMessage }}
  </div>
  }
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <div class="info-text">
      Not registered yet? <a (click)="goToRegister()">Sign Up</a>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
