/* You can add global styles to this file, and also import other style files */
body.login-background,
html.login-background {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
