.sidebar {
  position: sticky;
  top: 56px; /* Set this to your navbar height */
  height: calc(100vh - 38px); /* Subtract navbar height */
  width: 220px;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  transition: width 0.3s;
  overflow-x: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 47px;
}

.toggle-btn {
  background: var(--secondary-bg);
  border: none;
  color: var(--primary-color);
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;

  align-self: flex-end;
}

.toggle-btn:hover {
  background: var(--secondary-bg-hover);
}

.sidebar-options {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar.collapsed .sidebar-options {
  padding: 5px;
  margin-right: 3px;
  text-align: center;
}

.sidebar-option {
  background-color: var(--secondary-bg);
  padding: 5px;
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 17px;
  transition: color 0.2s;
}

.sidebar-option:hover {
  background-color: var(--secondary-bg-hover);
}

.sidebar-bottom {
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 3px;
  padding: 5px;
}

.logout-btn {
  color: var(--error-color);
  background-color: var(--error-bg);
}

.logout-btn:hover {
  background-color: var(--error-bg-hover);
}
