.sidebar {
  top: 1;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  transition: width 0.3s;
  overflow-x: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 60px;
}

.toggle-btn {
  background: var(--secondary-bg);
  border: none;
  color: var(--primary-color);
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  align-self: flex-end;
}

.toggle-btn:hover {
  background: var(--secondary-bg-hover);
}

.sidebar-options {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar.collapsed .sidebar-options {
  padding-left: 8px;
}

.sidebar-option {
  background-color: var(--secondary-bg);
  padding: 10px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 18px;
  transition: color 0.2s;
}

.sidebar-option:hover {
  background-color: var(--secondary-bg-hover);
}
